h1 {
  font-size: 150%;
}

div.section {
  float: left;
  width: 100%;
}

div#spell-name {
  float: left;
  margin-right: 80px;
}

div#spell-icon {
  position: absolute;
  right: 15px;
  top: 25px;
}
